/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }


nav ul{
         position: fixed;
    top: 0;
    left: 0;
    width: 13%;
      height: 100%;
    background-color:RGBA(34, 207, 192, 1.00);
  border-right:3px solid black;
    z-index: 1;
  /* flexbox magie */
  display: flex;
  justify-content: space-between;
      display:block;
       transition-property: width;
   
    transition-duration: 1s;
     
}

ul:hover { background-color:white;
width: 16%;
      font-size: 1.1em;
}

nav li {
      /* flexbox magie */
      flex:auto;
      padding: 13%;
      padding-top: 25%;
      
    
}

a {  
      color:black;
      text-decoration: none;
      font-size: 0.8em;
 
      font-family: 'Oswald', sans-serif;
       text-transform: uppercase;
    a
     
}

a:hover {
      color: RGBA(34, 207, 192, 1.00);
}



.carousel {
  background: ;
width: 80%;
  margin-left: 20%;
}



.carousel-cell {
  width: 70%;
  height: 400px;
  margin-top: 2%;
  margin-right: 180px;
  background: white;
}

img {
  width: 70%;
   display: block;
  margin-top: -15%;
    margin-left: auto;
    margin-right: auto;
}

.afb1 { width: 57%;
  margin-top: 0%;
}

.afb2 {
  width: 90%;
}

.afb3 {
  margin-top: 0%;
  width: 100%;
}

.afb4 {
  width: 50%;
  margin-top: 0%;
}

.afb5 {
  width: 100%;
  margin-top: 0%;
 
}

.afb6 {
  width: 100%;
  margin-top: 0%;
}

.afb7 {
  width: 100%;
  margin-top: 0%;
}
.bigbox {
  display: block;
  flex-direction:none;
  flex-wrap: none;
  align-items:none;
  justify-content: none;
  margin-left: 25%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 5%:
}

h1 { 
      color: white;
      font-family: 'Oswald', sans-serif;
  background-color: black;
      font-size: 1.8em;
      text-align: center;
  margin-top: 15%;
  margin-bottom: 2%;
  padding: 1%;
     
   
}

h1:hover {
  background-color: RGBA(34, 207, 192, 1.00)
}

.toelichting {
    column-count: 2;
      column-gap: 2em;
   
  font-family: 'Open Sans', sans-serif;
}

footer {
      text-align: center;
      background-color: black;
      color: white;
      padding: 2%;
  margin-left:13%;
       font-family: 'Open Sans', sans-serif;       
}








@media only screen and (max-width:
1000px) {


.carousel-cell {
  height: 350px;
}
      
      h2 {
            font-size: 1.8em;
            padding: 0%;
      }
      

      
 
      


}




@media only screen and (max-width:
800px) {

  .carousel-cell {
  height: 250px;
}

nav {   font-size: 90%;
    padding: 0em;
}



}

@media only screen and (max-width: 600px) {
      .toelichting {
            column-count: 1; }
      
 

        
}

}


